body {
    background-image: url("/assets/images/y-so-serious-white/y-so-serious-white.png");
}
.navbar-brand{
    font-weight: bold;
    margin-left: 40px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.navbar{
    background-color: #ffffff;
}
h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    margin-top: 15px;
    font-weight: bold;
}
.footer {
    background-color: #666666;
    padding: 30px;
    text-align: center;
    border-top-width: 4px;
    border-top-color: #4aaaa5;
  }
