body {
    background-color:#f0f0f0;
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bgColor{
    background-color: #364f6b;
    padding: 1.9em;
    color: ivory;
}
a{
    color: ivory;
}
.navbar-nav {
    margin: 0 25px;
}
h1,.topProjectsHeader{
    color: #4aaaa5;
    margin-top: .3em;
    margin-bottom: 0em;
    font-weight: bold;
}
.navbar-brand{
    font-weight: bold;
    padding: 10px 20px;
    color: white;
}
hr{
    background-color: #f0f0f0;
    margin-top: .5em;
}
.topProjectsHeader{
    text-align: left;
    font-size: 2em;
    font-weight: bolder;
}
.projectImg{
    text-align: center;
   
}
.projects{
    min-width: 100%;
    height: auto;
}
.projectInfo{
    text-align: left;
    color: #364f6b;
}
.card-title{
    color: #364f6b;
}
.projectLine{
    margin-bottom: 0em;
}
.projectLinks{
    color: #4aaaa5;
    margin-right: .75em;
    float: left;
}
@media only screen and (max-width: 600px){
    .navbar{
        text-align: center;
        vertical-align: middle;
    }
    .navbar-toggler-icon {
        color: white;
}